body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    width: 500px;
    height: 500px;
    border: black 5px solid;
}

#container .rowDiv {
    display: flex;
    flex: 1;
    flex-direction: row;
    box-sizing: border-box;
    margin: 0px;
}

#container .columnDiv {
    flex: 1;
    border: grey 1px dotted;
    box-sizing: border-box;
    margin: 0px;
}