#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 10px;
}
#container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 500px;
    height: 500px;
    border: black 5px solid;
    margin-left: auto;
    margin-right: auto;
}

#container .rowDiv {
    display: flex;
    flex: 1;
    flex-direction: row;
    box-sizing: border-box;
    margin: 0px;
}

#container .columnDiv {
    flex: 1;
    border: grey 1px dotted;
    box-sizing: border-box;
    margin: 0px;
}